@charset "UTF-8";
/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none; }

button {
  overflow: visible;
  -webkit-appearance: button; }

details {
  display: block; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

:root {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100% / 1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url("/font/Muli-Regular.woff2") format("woff2"), url("/font/Muli-Regular.woff") format("woff"); }

@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: 400;
  src: url("/font/icon.woff") format("woff"); }

.icon {
  font-family: 'icon'; }

body {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: #2a7ae3;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

button {
  outline: none;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

.mt2em {
  margin-top: 2em !important; }

.grow {
  text-shadow: 0 0 10px #444; }

.twitter,
.facebook {
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-radius: 50%;
  transition: background-color .5s; }

.twitter:hover {
  background-color: #55acee; }

.facebook:hover {
  background-color: #3b5998; }

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }

.comming {
  position: relative;
  width: 100%; }
  .comming::before {
    content: '';
    display: block;
    padding-top: 60%; }
  .comming::after {
    content: 'Comming Soon...';
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-size: 1.4rem;
    white-space: nowrap; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  .header__sp {
    position: relative;
    display: flex;
    padding: 1rem;
    background-color: #444; }
    @media (min-width: 1140px) {
      .header__sp {
        display: none; } }
  .header__logo {
    margin-right: 1rem;
    flex-basis: calc(100% - 32px); }
  .header__btn {
    position: relative;
    flex-basis: 32px;
    height: 32px; }
    .header__btn__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff; }
      .header__btn__line--top {
        transform: translateY(4px); }
      .header__btn__line--middle {
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .5s; }
      .header__btn__line--bottom {
        transform: translateY(24px); }
    .header__btn.is-open .header__btn__line--top {
      animation: createX-top .5s forwards; }
    .header__btn.is-open .header__btn__line--middle {
      opacity: 0; }
    .header__btn.is-open .header__btn__line--bottom {
      animation: createX-bottom .5s forwards; }
    .header__btn.is-close .header__btn__line--top {
      animation: closeX-top .5s; }
    .header__btn.is-close .header__btn__line--bottom {
      animation: closeX-bottom .5s; }

@keyframes createX-top {
  0% {
    transform: translateY(4px); }
  50% {
    transform: translateY(14px); }
  100% {
    transform: translateY(14px) rotate(45deg); } }

@keyframes createX-bottom {
  0% {
    transform: translateY(24px); }
  50% {
    transform: translateY(14px); }
  100% {
    transform: translateY(14px) rotate(-45deg); } }

@keyframes closeX-top {
  0% {
    transform: translateY(14px) rotate(45deg); }
  50% {
    transform: translateY(14px); }
  100% {
    transform: translateY(4px); } }

@keyframes closeX-bottom {
  0% {
    transform: translateY(14px) rotate(-45deg); }
  50% {
    transform: translateY(14px); }
  100% {
    transform: translateY(24px); } }

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: .4rem 1rem 1rem;
  background-color: rgba(68, 68, 68, 0.8);
  transform: translateY(-100%);
  transition: transform .5s; }
  @media (min-width: 1140px) {
    .nav {
      padding: 0;
      transform: none; } }
  .nav__container {
    position: relative;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto; }
  .nav__list {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1140px) {
      .nav__list {
        flex-direction: row; } }
    .nav__list li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      @media (min-width: 1140px) {
        .nav__list li {
          position: relative;
          flex: 1;
          text-align: center;
          border-bottom: none; }
          .nav__list li:first-child a {
            padding-left: 1em; }
          .nav__list li:not(:first-child)::before {
            content: '';
            position: absolute;
            top: 10%;
            left: 0;
            width: 1px;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.6); } }
    .nav__list a {
      position: relative;
      display: block;
      padding: 1em 1.6em 1em .6em;
      color: inherit;
      text-decoration: none; }
      @media (min-width: 1140px) {
        .nav__list a {
          padding: 1em 1em 1em calc(1em + 1px); } }
      .nav__list a::after {
        content: '>';
        position: absolute;
        right: .6em; }
        @media (min-width: 1140px) {
          .nav__list a::after {
            display: none; } }
    .nav__list small {
      display: inline-block;
      margin-left: 1em;
      font-size: medium; }
      @media (min-width: 1140px) {
        .nav__list small {
          display: none; } }
  .nav__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    width: calc(100% / 6);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .5s, transform .5s; }
    @media (min-width: 1140px) {
      .nav__bg {
        display: block; } }
  .nav__social {
    display: flex;
    margin-top: 1rem;
    justify-content: center; }
    @media (min-width: 1140px) {
      .nav__social {
        display: none; } }
    .nav__social li:not(:first-child) {
      margin-left: 1rem; }
  .nav.is-open {
    transform: none; }

.symbol {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #c1c0be; }

.hero {
  position: relative;
  min-height: 100vh; }
  .hero__content {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    align-self: flex-end; }
  .hero__date {
    font-size: 1.5rem; }
  .hero__place {
    margin-top: -.2em;
    font-size: 1.2rem; }
  .hero__footer {
    display: none;
    align-items: flex-end;
    margin-top: 1rem; }
    @media (min-width: 1140px) {
      .hero__footer {
        display: flex; } }
  .hero__logo {
    display: none;
    margin-right: 2rem; }
    @media (min-width: 1140px) {
      .hero__logo {
        display: inline-block; } }
    .hero__logo--sp {
      position: absolute;
      right: 50%;
      bottom: 50%;
      width: 90%;
      transform: translate(50%, 50%);
      text-align: center; }
      @media (min-width: 1140px) {
        .hero__logo--sp {
          display: none; } }
  .hero__social {
    display: none;
    list-style: none; }
    .hero__social li {
      display: inline-block; }
      .hero__social li:not(:first-child) {
        margin-left: .5rem; }
    @media (min-width: 1140px) {
      .hero__social {
        display: inline-block; } }
  .hero__swing {
    position: absolute;
    top: 20%;
    right: 2%;
    font-size: 5vw;
    transform-origin: left center;
    animation: swing 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite; }

@keyframes swing {
  0% {
    transform: rotate(6deg); }
  50% {
    transform: rotate(9deg); }
  100% {
    transform: rotate(6deg); } }

.section {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1140px) {
    .section {
      flex-direction: row-reverse;
      align-items: center; } }
  .section__headline {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 4rem;
    text-align: center; }
    @media (min-width: 1140px) {
      .section__headline {
        margin-top: 0;
        margin-bottom: 0;
        flex: 2;
        font-size: 5rem; } }
    .section__headline span {
      font-family: Muli, sans-serif; }
    .section__headline small {
      display: block;
      margin-top: -.6em;
      font-size: 1rem; }
  .section__content {
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(68, 68, 68, 0.8); }
    @media (min-width: 1140px) {
      .section__content {
        margin-top: 5rem;
        margin-bottom: 5rem;
        flex: 4; } }
  .section__title {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: normal;
    font-size: 1.25rem;
    color: #00b7ee; }
  .section__dl {
    display: flex;
    flex-wrap: wrap; }
    .section__dl dt {
      position: relative;
      flex-basis: 5em; }
      .section__dl dt::after {
        content: '：';
        position: absolute;
        right: 0; }
    .section__dl dd {
      flex-basis: calc(100% - 5em); }

.access__title {
  font-size: 1.2rem; }

.access__address {
  margin-top: 1em; }

.access__traffic {
  margin-top: 1em; }
  .access__traffic dl {
    display: flex; }
  .access__traffic dt {
    position: relative;
    flex-basis: 6em;
    padding-right: 1em; }
    .access__traffic dt::after {
      content: '：';
      position: absolute;
      right: 0; }
  .access__traffic dd {
    flex-basis: calc(100% - 7em); }

.access__map {
  width: 100%;
  max-width: 640px; }

.exhibit {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .exhibit li {
    flex-basis: calc(50% - .5rem); }
    @media (min-width: 800px) {
      .exhibit li {
        flex-basis: calc(100% / 3 - 1px); } }
    .exhibit li:nth-child(odd) {
      margin-right: .5rem; }
      @media (min-width: 800px) {
        .exhibit li:nth-child(odd) {
          margin-right: 0; } }
    .exhibit li:nth-child(even) {
      margin-left: .5rem; }
      @media (min-width: 800px) {
        .exhibit li:nth-child(even) {
          margin-left: 0; } }
    .exhibit li:not(:nth-child(-n+2)) {
      margin-top: 2rem; }
      @media (min-width: 800px) {
        .exhibit li:not(:nth-child(-n+2)) {
          margin-top: 0; } }
    @media (min-width: 800px) {
      .exhibit li:not(:nth-child(-n+3)) {
        margin-top: 2rem; } }
  .exhibit-panel {
    position: relative;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto; }
    .exhibit-panel::before {
      content: "";
      display: block;
      padding-top: 100%; }
    .exhibit-panel__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .exhibit-panel__clipped {
      clip-path: url("/#hexagon"); }
    .exhibit-panel__overlay {
      fill: rgba(51, 51, 51, 0.8);
      transition: opacity .5s; }
      .exhibit-panel__overlay:hover {
        opacity: 0; }
    .exhibit-panel__name {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      font-size: .8rem;
      text-align: center;
      white-space: nowrap;
      pointer-events: none; }
      @media (min-width: 30rem) {
        .exhibit-panel__name {
          font-size: 1rem; } }
      @media (min-width: 35rem) {
        .exhibit-panel__name {
          font-size: 1.2rem; } }
      .exhibit-panel__name small {
        display: block;
        font-size: .6em; }

.footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center; }
  @media (min-width: 1140px) {
    .footer {
      margin-top: 0; } }

.ecc {
  transition: opacity .5s; }
  .ecc:hover {
    opacity: .5; }

.to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  display: none;
  width: 4rem;
  height: 4rem;
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 10px #c1c0be;
  visibility: hidden;
  opacity: 0;
  transition: all .5s; }
  .to-top::before {
    content: '';
    position: absolute;
    right: 50%;
    bottom: 50%;
    display: block;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    background-position: center center;
    background-image: url("/img/to-top.svg"); }
  @media (min-width: 1140px) {
    .to-top {
      display: block; } }
