.hero {
  position: relative;
  min-height: 100vh;

  &__content {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    align-self: flex-end;
  }

  &__date {
    font-size: 1.5rem;

    @media (min-width: $break-point) {
      font-size: 2rem;
    }
  }

  &__place {
    margin-top: -.2em;
    font-size: 1.2rem;

    @media (min-width: $break-point) {
      font-size: 1.5rem;
    }
  }

  &__footer {
    display: none;
    align-items: flex-end;
    margin-top: 1rem;

    @media (min-width: $break-point) {
      display: flex;
    }
  }

  &__logo {
    display: none;
    margin-right: 2rem;

    @media (min-width: $break-point) {
      display: inline-block;
    }

    &--sp {
      position: absolute;
      right: 50%;
      bottom: 50%;
      width: 90%;
      transform: translate(50%,50%);
      text-align: center;

      @media (min-width: $break-point) {
        display: none;
      }
    }
  }

  &__social {
    display: none;
    list-style: none;

    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: .5rem;
      }
    }

    @media (min-width: $break-point) {
      display: inline-block;
    }
  }

  &__swing {
    position: absolute;
    top: 20%;
    right: 2%;
    font-size: 5vw;
    transform-origin: left center;
    animation: swing 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }
}

@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
