.hero {
  position: relative;
  min-height: 100vh;

  &__content {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    align-self: flex-end;
  }

  &__date {
    font-size: 1.5rem;

    @media (min-width: $break-point) {
      font-size: 2rem;
    }
  }

  &__place {
    margin-top: -.2em;
    font-size: 1.2rem;

    @media (min-width: $break-point) {
      font-size: 1.5rem;
    }
  }

  &__footer {
    display: none;
    align-items: flex-end;
    margin-top: 1rem;

    @media (min-width: $break-point) {
      display: flex;
    }
  }

  &__logo {
    display: none;
    margin-right: 2rem;

    @media (min-width: $break-point) {
      display: inline-block;
    }

    &--sp {
      position: absolute;
      right: 50%;
      bottom: 50%;
      width: calc(100% - 4rem);
      transform: translate(50%,50%);
      text-align: center;

      @media (min-width: $break-point) {
        display: none;
      }

      img {
        max-width: 580px;
      }
    }
  }

  &__social {
    display: none;
    list-style: none;

    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: .5rem;
      }
    }

    @media (min-width: $break-point) {
      display: inline-block;
    }
  }

  &__swing {
    position: absolute;
    top: 20%;
    right: 2%;
    font-size: 5vw;
    transform-origin: left center;
    animation: fade-in 5s,
      swing 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  }

  &__result {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,calc(-50% - 1.6rem));
    
    @media (min-width: $break-point) {
      transform: translate(50%,50%);
    }

    a {
      position: relative;
      display: inline-block;
      padding: 1.4rem;
      color: $white;
      white-space: nowrap;
      text-decoration: none;
      background-color: rgba($black,.8);
      border-radius: 1rem;
      transition: color .5s;
      animation: jumping 1s infinite;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        right: 50%;
        width: 0;
        height: 0;
        transform: translate(50%,0);
        border: 1rem solid transparent;
        border-top-color: rgba($black,.8);
      }

      &:hover {
        color: $brand-blue;
      }

      @media (min-width: $break-point) {
        padding: 2rem;
        font-size: 1.6rem;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
