.nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: .4rem 1rem 1rem;
  background-color: rgba($black,.8);
  transform: translateY(-100%);
  transition: transform .5s;

  @media (min-width: $break-point) {
    padding: 0;
    transform: none;
  }

  &__container {
    position: relative;
    max-width: $break-point;
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (min-width: $break-point) {
      flex-direction: row;
    }

    li {
      border-bottom: 1px solid rgba($white,.4);

      @media (min-width: $break-point) {
        position: relative;
        flex: 1;
        text-align: center;
        border-bottom: none;

        &:first-child a {
          padding-left: 1em;
        }

        &:not(:first-child)::before {
          content: '';
          position: absolute;
          top: 10%;
          left: 0;
          width: 1px;
          height: 80%;
          background-color: rgba($white,.6);
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 1em 1.6em 1em .6em;
      color: inherit;
      text-decoration: none;

      @media (min-width: $break-point) {
        padding: 1em 1em 1em calc(1em + 1px);
        transition: background-color .5s;

        &:hover {
          background-color: rgba($black,.8);
        }
      }

      &::after {
        content: '>';
        position: absolute;
        right: .6em;

        @media (min-width: $break-point) {
          display: none;
        }
      }
    }

    small {
      display: inline-block;
      margin-left: 1em;
      font-size: medium;

      @media (min-width: $break-point) {
        display: none;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    width: calc(100% / 6);
    height: 100%;
    background-color: rgba(#000,.4);
    opacity: 0;
    transition: opacity .5s, transform .5s;

    @media (min-width: $break-point) {
      display: block;
    }
  }

  &__social {
    display: flex;
    margin-top: 1rem;
    justify-content: center;

    @media (min-width: $break-point) {
      display: none;
    }

    li {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &.is-open {
    transform: none;
  }
}
