.nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: .4rem 1rem 1rem;
  background-color: rgba($black,.8);
  transform: translateY(-100%);
  transition: transform .5s;

  &__list {
    display: flex;
    flex-direction: column;

    li {
      border-bottom: 1px solid rgba($white,.4);
    }

    a {
      position: relative;
      display: block;
      padding: 1em 1.6em 1em .6em;
      color: inherit;
      text-decoration: none;

      &::after {
        content: ">";
        position: absolute;
        right: .6em;
      }
    }

    small {
      display: inline-block;
      margin-left: 1em;
      font-size: medium;
    }
  }

  &__social {
    display: flex;
    margin-top: 1rem;
    justify-content: center;

    li {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &.is-open {
    transform: none;
  }
}
