.section {
  display: flex;
  flex-direction: column;

  @media (min-width: $break-point) {
    flex-direction: row-reverse;
    align-items: center;
  }

  &__headline {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;

    @media (min-width: $break-point) {
      margin-top: 0;
      margin-bottom: 0;
      flex: 2;
      font-size: 5rem;
    }

    span {
      font-family: Muli, sans-serif;
    }

    small {
      display: block;
      margin-top: -.6em;
      font-size: 1.2rem;
    }
  }

  &__content {
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba($black,.8);

    @media (min-width: $break-point) {
      margin-top: 5rem;
      margin-bottom: 5rem;
      flex: 4;
    }
  }

  &__title {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: normal;
    font-size: 1.5rem;
    color: $brand-blue;
  }

  &__dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      position: relative;
      flex-basis: 5em;

      &::after {
        content: '：';
        position: absolute;
        right: 0;
      }
    }

    dd {
      flex-basis: calc(100% - 5em);
    }
  }
}
