.section {
  display: flex;
  flex-direction: column;

  &__headline {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;

    span {
      font-family: Muli, sans-serif;
    }

    small {
      display: block;
      margin-top: -.6em;
      font-size: 1rem;
    }
  }

  &__content {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba($black,.8);
  }

  &__title {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: normal;
    font-size: 1.25rem;
    color: #00b7ee;
  }

  &__dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      position: relative;
      flex-basis: 5em;

      &::after {
        content: "：";
        position: absolute;
        right: 0;
      }
    }

    dd {
      flex-basis: calc(100% - 5em);
    }
  }
}
