@import '../node_modules/sanitize.css/sanitize.scss';

$break-point: 1140px;

$brand-bg: #c1c0be;
$black: #444;
$white: #fff;

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Muli-Regular.woff2') format('woff2'),
    url('/font/Muli-Regular.woff') format('woff');
}

@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: 400;
  src: url('/font/icon.woff') format('woff');
}

.icon {
  font-family: 'icon';
}

body {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  color: $white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2a7ae3;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

button {
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.mt2em {
  margin-top: 2em !important;
}

.grow {
  text-shadow: 0 0 10px $black;
}

.twitter,
.facebook {
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-radius: 50%;
  transition: background-color .5s;
}

.twitter:hover {
  background-color: #55acee;
}

.facebook:hover {
  background-color: #3b5998;
}

.container {
  max-width: $break-point;
}

@import 'header';
@import 'nav';
@import 'symbol';
@import 'hero';
@import 'section';
@import 'footer';
